node-red-contrib-google-spreadsheet-plus/examples/comprehensive-test-flow.json
[
    {
        "id": "test_flow_tab",
        "type": "tab",
        "label": "Google Sheets Test Flow",
        "disabled": false,
        "info": "Comprehensive test flow for Google Sheets node.\n\n**SETUP (Do Once):**\n1. Click the 'SETUP: Set Spreadsheet ID' button and enter YOUR spreadsheet ID\n2. Configure credentials in any ONE google-spreadsheet node, then copy/paste to all others\n\n**RUN TESTS:**\nClick any test inject button to run that specific test.\n\nThe spreadsheet ID is stored in global.testSpreadsheetId and used by all tests."
    },
    {
        "id": "setup_inject",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "⚙️ SETUP: Set Spreadsheet ID",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "YOUR_SPREADSHEET_ID_HERE",
        "payloadType": "str",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "setup_function"
            ]
        ]
    },
    {
        "id": "setup_function",
        "type": "function",
        "z": "test_flow_tab",
        "name": "Save to Global",
        "func": "global.set('testSpreadsheetId', msg.payload);\nmsg.payload = '✓ Spreadsheet ID saved: ' + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 40,
        "wires": [
            [
                "setup_debug"
            ]
        ]
    },
    {
        "id": "setup_debug",
        "type": "debug",
        "z": "test_flow_tab",
        "name": "Setup Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject_write_single",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "1. Write Single Cell",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "range",
                "v": "Temp!A1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Test Value A1",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "add_spreadsheet_id"
            ]
        ]
    },
    {
        "id": "inject_read_single",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "2. Read Single Cell",
        "props": [
            {
                "p": "range",
                "v": "Temp!A1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "add_spreadsheet_id_read"
            ]
        ]
    },
    {
        "id": "inject_append_row",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "3. Append Single Row",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "range",
                "v": "Temp!A:D",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[\"John\",30,\"NYC\",\"Engineer\"]]",
        "payloadType": "json",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "add_spreadsheet_id_append"
            ]
        ]
    },
    {
        "id": "inject_append_multiple",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "4. Append Multiple Rows",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "range",
                "v": "Temp!A:D",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[\"Jane\",25,\"LA\",\"Designer\"],[\"Bob\",35,\"SF\",\"Manager\"],[\"Alice\",28,\"NYC\",\"Developer\"]]",
        "payloadType": "json",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "add_spreadsheet_id_append"
            ]
        ]
    },
    {
        "id": "inject_update_range",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "5. Update Range B2:C3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "range",
                "v": "Temp!B2:C3",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[\"UPDATED1\",\"UPDATED2\"],[\"UPDATED3\",\"UPDATED4\"]]",
        "payloadType": "json",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "add_spreadsheet_id_update"
            ]
        ]
    },
    {
        "id": "inject_new_data",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "6. New (Clear + Write)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "range",
                "v": "Temp!F1:H5",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[\"Header1\",\"Header2\",\"Header3\"],[\"Val1\",\"Val2\",\"Val3\"],[\"Val4\",\"Val5\",\"Val6\"]]",
        "payloadType": "json",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "add_spreadsheet_id_new"
            ]
        ]
    },
    {
        "id": "inject_read_sheet",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "7. Read Whole Sheet",
        "props": [
            {
                "p": "range",
                "v": "Temp",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "add_spreadsheet_id_read"
            ]
        ]
    },
    {
        "id": "inject_read_column",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "8. Read By Column A:A",
        "props": [
            {
                "p": "range",
                "v": "Temp!A:A",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "add_spreadsheet_id_read_col"
            ]
        ]
    },
    {
        "id": "inject_clear",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "9. Clear Range A1:D10",
        "props": [
            {
                "p": "range",
                "v": "Temp!A1:D10",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "add_spreadsheet_id_clear"
            ]
        ]
    },
    {
        "id": "inject_objects",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "10. Append Objects",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "range",
                "v": "Temp!A:D",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"name\":\"Product A\",\"price\":29.99,\"stock\":100,\"category\":\"Electronics\"},{\"name\":\"Product B\",\"price\":49.99,\"stock\":50,\"category\":\"Home\"}]",
        "payloadType": "json",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "add_spreadsheet_id_append"
            ]
        ]
    },
    {
        "id": "add_spreadsheet_id",
        "type": "change",
        "z": "test_flow_tab",
        "name": "Add Sheet ID",
        "rules": [
            {
                "t": "set",
                "p": "spreadsheetId",
                "pt": "msg",
                "to": "testSpreadsheetId",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "write_node"
            ]
        ]
    },
    {
        "id": "add_spreadsheet_id_read",
        "type": "change",
        "z": "test_flow_tab",
        "name": "Add Sheet ID",
        "rules": [
            {
                "t": "set",
                "p": "spreadsheetId",
                "pt": "msg",
                "to": "testSpreadsheetId",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 330,
        "wires": [
            [
                "read_node"
            ]
        ]
    },
    {
        "id": "add_spreadsheet_id_append",
        "type": "change",
        "z": "test_flow_tab",
        "name": "Add Sheet ID",
        "rules": [
            {
                "t": "set",
                "p": "spreadsheetId",
                "pt": "msg",
                "to": "testSpreadsheetId",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 390,
        "wires": [
            [
                "append_node"
            ]
        ]
    },
    {
        "id": "add_spreadsheet_id_update",
        "type": "change",
        "z": "test_flow_tab",
        "name": "Add Sheet ID",
        "rules": [
            {
                "t": "set",
                "p": "spreadsheetId",
                "pt": "msg",
                "to": "testSpreadsheetId",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "update_node"
            ]
        ]
    },
    {
        "id": "add_spreadsheet_id_new",
        "type": "change",
        "z": "test_flow_tab",
        "name": "Add Sheet ID",
        "rules": [
            {
                "t": "set",
                "p": "spreadsheetId",
                "pt": "msg",
                "to": "testSpreadsheetId",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "new_node"
            ]
        ]
    },
    {
        "id": "add_spreadsheet_id_read_col",
        "type": "change",
        "z": "test_flow_tab",
        "name": "Add Sheet ID",
        "rules": [
            {
                "t": "set",
                "p": "spreadsheetId",
                "pt": "msg",
                "to": "testSpreadsheetId",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "read_column_node"
            ]
        ]
    },
    {
        "id": "add_spreadsheet_id_clear",
        "type": "change",
        "z": "test_flow_tab",
        "name": "Add Sheet ID",
        "rules": [
            {
                "t": "set",
                "p": "spreadsheetId",
                "pt": "msg",
                "to": "testSpreadsheetId",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 600,
        "wires": [
            [
                "clear_node"
            ]
        ]
    },
    {
        "id": "write_node",
        "type": "google-spreadsheet",
        "z": "test_flow_tab",
        "name": "Write (Update)",
        "auth": "GoogleServiceAccount",
        "sheet": "spreadsheetId",
        "range": "range",
        "method": "update",
        "direction": "line",
        "action": "set",
        "clear": false,
        "line": false,
        "column": false,
        "fields": "all",
        "save": "_sheet",
        "selfields": [
            ""
        ],
        "input": "payload",
        "output": "result",
        "saveType": "msg",
        "inputType": "msg",
        "outputType": "msg",
        "sheetType": "msg",
        "rangeType": "msg",
        "x": 540,
        "y": 120,
        "wires": [
            [
                "delay_after_write",
                "debug_write"
            ],
            [
                "debug_error"
            ]
        ]
    },
    {
        "id": "append_node",
        "type": "google-spreadsheet",
        "z": "test_flow_tab",
        "name": "Append",
        "auth": "GoogleServiceAccount",
        "sheet": "spreadsheetId",
        "range": "range",
        "method": "append",
        "direction": "line",
        "action": "set",
        "clear": false,
        "line": false,
        "column": false,
        "fields": "all",
        "save": "_sheet",
        "selfields": [
            ""
        ],
        "input": "payload",
        "output": "result",
        "saveType": "msg",
        "inputType": "msg",
        "outputType": "msg",
        "sheetType": "msg",
        "rangeType": "msg",
        "x": 540,
        "y": 390,
        "wires": [
            [
                "delay_after_append",
                "debug_append"
            ],
            [
                "debug_error"
            ]
        ]
    },
    {
        "id": "update_node",
        "type": "google-spreadsheet",
        "z": "test_flow_tab",
        "name": "Update",
        "auth": "GoogleServiceAccount",
        "sheet": "spreadsheetId",
        "range": "range",
        "method": "update",
        "direction": "line",
        "action": "set",
        "clear": false,
        "line": false,
        "column": false,
        "fields": "all",
        "save": "_sheet",
        "selfields": [
            ""
        ],
        "input": "payload",
        "output": "result",
        "saveType": "msg",
        "inputType": "msg",
        "outputType": "msg",
        "sheetType": "msg",
        "rangeType": "msg",
        "x": 540,
        "y": 360,
        "wires": [
            [
                "delay_after_update",
                "debug_update"
            ],
            [
                "debug_error"
            ]
        ]
    },
    {
        "id": "new_node",
        "type": "google-spreadsheet",
        "z": "test_flow_tab",
        "name": "New (Clear + Write)",
        "auth": "GoogleServiceAccount",
        "sheet": "spreadsheetId",
        "range": "range",
        "method": "new",
        "direction": "line",
        "action": "set",
        "clear": false,
        "line": false,
        "column": false,
        "fields": "all",
        "save": "_sheet",
        "selfields": [
            ""
        ],
        "input": "payload",
        "output": "result",
        "saveType": "msg",
        "inputType": "msg",
        "outputType": "msg",
        "sheetType": "msg",
        "rangeType": "msg",
        "x": 570,
        "y": 420,
        "wires": [
            [
                "delay_after_new",
                "debug_new"
            ],
            [
                "debug_error"
            ]
        ]
    },
    {
        "id": "read_node",
        "type": "google-spreadsheet",
        "z": "test_flow_tab",
        "name": "Read (By Line)",
        "auth": "GoogleServiceAccount",
        "sheet": "spreadsheetId",
        "range": "range",
        "method": "append",
        "direction": "line",
        "action": "get",
        "clear": false,
        "line": false,
        "column": false,
        "fields": "all",
        "save": "_sheet",
        "selfields": [
            ""
        ],
        "input": "payload",
        "output": "payload",
        "saveType": "msg",
        "inputType": "msg",
        "outputType": "msg",
        "sheetType": "msg",
        "rangeType": "msg",
        "x": 550,
        "y": 330,
        "wires": [
            [
                "debug_read"
            ],
            [
                "debug_error"
            ]
        ]
    },
    {
        "id": "read_column_node",
        "type": "google-spreadsheet",
        "z": "test_flow_tab",
        "name": "Read (By Column)",
        "auth": "GoogleServiceAccount",
        "sheet": "spreadsheetId",
        "range": "range",
        "method": "append",
        "direction": "column",
        "action": "get",
        "clear": false,
        "line": false,
        "column": false,
        "fields": "all",
        "save": "_sheet",
        "selfields": [
            ""
        ],
        "input": "payload",
        "output": "payload",
        "saveType": "msg",
        "inputType": "msg",
        "outputType": "msg",
        "sheetType": "msg",
        "rangeType": "msg",
        "x": 560,
        "y": 540,
        "wires": [
            [
                "debug_read_column"
            ],
            [
                "debug_error"
            ]
        ]
    },
    {
        "id": "clear_node",
        "type": "google-spreadsheet",
        "z": "test_flow_tab",
        "name": "Clear",
        "auth": "GoogleServiceAccount",
        "sheet": "spreadsheetId",
        "range": "range",
        "method": "append",
        "direction": "line",
        "action": "clear",
        "clear": false,
        "line": false,
        "column": false,
        "fields": "all",
        "save": "_sheet",
        "selfields": [
            ""
        ],
        "input": "payload",
        "output": "result",
        "saveType": "msg",
        "inputType": "msg",
        "outputType": "msg",
        "sheetType": "msg",
        "rangeType": "msg",
        "x": 530,
        "y": 600,
        "wires": [
            [
                "debug_clear"
            ],
            [
                "debug_error"
            ]
        ]
    },
    {
        "id": "delay_after_write",
        "type": "delay",
        "z": "test_flow_tab",
        "name": "Wait 500ms",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 120,
        "wires": [
            [
                "read_verify"
            ]
        ]
    },
    {
        "id": "delay_after_append",
        "type": "delay",
        "z": "test_flow_tab",
        "name": "Wait 500ms",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 360,
        "wires": [
            [
                "read_verify_range"
            ]
        ]
    },
    {
        "id": "delay_after_update",
        "type": "delay",
        "z": "test_flow_tab",
        "name": "Wait 500ms",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "read_verify_range"
            ]
        ]
    },
    {
        "id": "delay_after_new",
        "type": "delay",
        "z": "test_flow_tab",
        "name": "Wait 500ms",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "read_verify_range"
            ]
        ]
    },
    {
        "id": "read_verify",
        "type": "google-spreadsheet",
        "z": "test_flow_tab",
        "name": "Verify Read",
        "auth": "GoogleServiceAccount",
        "sheet": "spreadsheetId",
        "range": "range",
        "method": "append",
        "direction": "line",
        "action": "get",
        "clear": false,
        "line": false,
        "column": false,
        "fields": "all",
        "save": "_sheet",
        "selfields": [
            ""
        ],
        "input": "payload",
        "output": "verified",
        "saveType": "msg",
        "inputType": "msg",
        "outputType": "msg",
        "sheetType": "msg",
        "rangeType": "msg",
        "x": 910,
        "y": 120,
        "wires": [
            [
                "debug_verified"
            ],
            [
                "debug_error"
            ]
        ]
    },
    {
        "id": "read_verify_range",
        "type": "google-spreadsheet",
        "z": "test_flow_tab",
        "name": "Verify Read Range",
        "auth": "GoogleServiceAccount",
        "sheet": "spreadsheetId",
        "range": "Temp",
        "method": "append",
        "direction": "line",
        "action": "get",
        "clear": false,
        "line": false,
        "column": false,
        "fields": "all",
        "save": "_sheet",
        "selfields": [
            ""
        ],
        "input": "payload",
        "output": "verified",
        "saveType": "msg",
        "inputType": "msg",
        "outputType": "msg",
        "sheetType": "msg",
        "rangeType": "str",
        "x": 930,
        "y": 360,
        "wires": [
            [
                "debug_verified"
            ],
            [
                "debug_error"
            ]
        ]
    },
    {
        "id": "debug_write",
        "type": "debug",
        "z": "test_flow_tab",
        "name": "✓ Write Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug_append",
        "type": "debug",
        "z": "test_flow_tab",
        "name": "✓ Append Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 450,
        "wires": []
    },
    {
        "id": "debug_update",
        "type": "debug",
        "z": "test_flow_tab",
        "name": "✓ Update Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "debug_new",
        "type": "debug",
        "z": "test_flow_tab",
        "name": "✓ New Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "debug_read",
        "type": "debug",
        "z": "test_flow_tab",
        "name": "✓ Read Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 330,
        "wires": []
    },
    {
        "id": "debug_read_column",
        "type": "debug",
        "z": "test_flow_tab",
        "name": "✓ Read Column",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 540,
        "wires": []
    },
    {
        "id": "debug_clear",
        "type": "debug",
        "z": "test_flow_tab",
        "name": "✓ Clear Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "debug_verified",
        "type": "debug",
        "z": "test_flow_tab",
        "name": "✓ Verified Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "verified",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug_error",
        "type": "debug",
        "z": "test_flow_tab",
        "name": "✗ ERROR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 720,
        "wires": []
    },
    {
        "id": "comment_setup",
        "type": "comment",
        "z": "test_flow_tab",
        "name": "⚙️ STEP 1: Edit setup inject and replace YOUR_SPREADSHEET_ID_HERE with your actual ID, then click it",
        "info": "",
        "x": 380,
        "y": 0,
        "wires": []
    },
    {
        "id": "comment_credentials",
        "type": "comment",
        "z": "test_flow_tab",
        "name": "⚙️ STEP 2: Configure credentials (GoogleServiceAccount) in any ONE sheet node below, then copy that node and paste over all others",
        "info": "",
        "x": 490,
        "y": 20,
        "wires": []
    }
]
